.inputAdd {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px transparent;
    border-radius: 5px;
    border-color: #1abc9c;
  }

  .question {
      text-align: left;
      
  }

  input {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: #000;
    font-family: sans-serif;
    font-size: 1rem;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .questionAndAnswerPair{
      margin:auto;
      width:50%;
      padding-top:200px;
  }

  .header {
      margin-top: 50px;
      margin-bottom: 50px;
  }

  .examsList  {
      margin: auto;
      width: 50%;
      border: solid mediumaquamarine;
      border-radius: 0.5em;
      margin-bottom: 0px;
      padding-bottom: 0px;
  }

  .examItem {
      font-size: large;
      padding: 10px;
      font-weight: bolder;
       
  }
 .examItem:hover{
        background-color: mediumaquamarine;
        color: white;
        text-decoration: none;
  }

  Link {
    text-decoration: none;
  }

  .button {
    background-color: transparent;
    height: 20px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    display: flex;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    justify-content: center;
  }

.table th {
    text-align: center;
}

.table {
    border-radius: 5px;
    width: 50%;
    float: none;
    margin: auto;
    margin-top: 50px;
    border: solid;
}

tr {
    border:none;
}